{% extends "base.html" %}
{% load url from future %}

{% block title %}Loans{% endblock %}

{% block content %}

{% if loans %}
		<ul>
		{% for loan in loans %}
				<li class="loan">
					<div class="pic img-polaroid">
						{% if loan.thumb_path %}
							<a href="{% url 'loans.views.loan_detail' loan.id %}">
								<img src="http://www.theworkingworld.org/{{ loan.thumb_path }}" alt="{{ loan.cooperative }}">
							</a>
						{% endif %}
					</div>
					<div class="desc">
						<a href="{% url 'loans.views.loan_detail' loan.id %}">Project with {{ loan.cooperative }}</a><br>
						{{ loan.short_description }}
					</div>
					<div class="facts">
						{{ loan.signing_date }}<br>
						{{ loan.amount_formatted }}
					</div>
				</li>
		{% endfor %}
		</ul>
	
{% else %}
		<p>No loans found.</p>
{% endif %}

{% endblock content %}
