{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ loan }}{% endblock %}

{% block content %}

<a href="{% url 'loans.views.loans' %}">&lt; Back to Loan List</a>

<h1>{{ loan }}</h1>

{# <div id="google_translate_element"></div><script type="text/javascript"> #}
{# function googleTranslateElementInit() { #}
{#   new google.translate.TranslateElement({pageLanguage: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, multilanguagePage: true}, 'google_translate_element'); #}
{# } #}
{# </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> #}

<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, multilanguagePage: true}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% include "includes/messages.html" %}

{% if loan.picture_path %}
	<div class="picture">
		<img src="http://www.theworkingworld.org/{{ loan.picture_path }}" alt="{{ loan }}">
	</div>
{% endif %}
<div class="short_description">
	{{ loan.short_description|default:'' }}
</div>
<div class="description">
	<h3>Details</h3>
	{{ loan.description|default:'<span style="font-style:italic;" class="notfound">No description found.</span>' }}
</div>
<div class="lend">
	<a class="button lend_button" href="{% url 'loans.views.lend_form' loan.id %}">Lend</a>
</div>
<div class="loan_calendar">
	<h3>Calendar</h3>
	<ul>
		{% for paso in loan.pasos %}
		<li class="paso {{ paso.is_completed }}">
			Milestone {{ paso.date }}: {{ paso.summary }}
			{% if paso.completed %}
			(Completed {{ paso.completed }})
			{% else %}
			(Not yet completed)
			{% endif %}
			{% if paso.details %}<br>Details: {{ paso.details }}{% endif %}
			<ul>
				{% for log in paso.logs %}
				<li class="log">Log {{ log.date }}: {{ log.explanation }}
					<ul>
						<li>Progress: {{ log.progress }}</li>
						<li>Details: {{ log.detailed_explanation }}</li>
					</ul>
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}