{# {% if lform.errors %} #}
{# <p>Your username and password didn't match. Please try again.</p> #}
{# {% endif %} #}

{{ lform.non_field_errors }}

<form id="login_form" class="form-signin" method="post">
{% csrf_token %}

	{# {{ lform.as_table }} #}
	<p class="required">
		<label>{{ lform.username.label_tag }}:</label>
		<p>{{ lform.username }}</p>
	</p>
	<p class="required">
		<label>{{ lform.password.label_tag }}:</label>
		<p>{{ lform.password }}</p>
	</p>

<input type="submit" class="btn btn-large btn-primary" name="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>
