{# {% if lform.errors %} #}
{# <p>Your username and password didn't match. Please try again.</p> #}
{# {% endif %} #}

{{ lform.non_field_errors }}

<form id="login_form" class="form-signin" method="post">
{% csrf_token %}
<table>
	{# {{ lform.as_table }} #}
	<tr class="required">
		<th>{{ lform.username.label_tag }}:</th>
		<td>{{ lform.username }}</td>
	</tr>
	<tr class="required">
		<th>{{ lform.password.label_tag }}:</th>
		<td>{{ lform.password }}</td>
	</tr>
</table>

<input type="submit" class="btn btn-large btn-primary" name="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>
