/* ----- load reset.css -------*/
@import url("reset.css");

/* ----- load boot.css -------*/
@import url("boot.css");
.messages {
	background-color: rgb(255, 255, 123);
}
.messages p {
	padding: 3px;
}

form th {
	text-align: left;
	font-weight: normal;
}
form .required th {
	font-weight: bold;
	background:f7f7f7;
	border: 1px solid #ddd;
	color: #444;
}
