/* ----- load reset.css -------*/
@import url("reset.css");

/* ----- load boot.css -------*/
@import url("boot.css");

body{
    background: #faf4f1;	
}
.messages {
	background-color: rgb(255, 255, 123);
	display: block;
}
.messages p {
	padding: 3px;
	font-size: 12px;
	color: #777;
	
}
 .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

form th {
	text-align: left;
	font-weight: normal;
}
form .required th {
	font-weight: bold;
	background:f7f7f7;
	border: 1px solid #ddd;
	color: #444;
}

li.loan {
	margin: 25px 0;
}

.chart{margin-left:-35px; margin-top:-10px; max-width: 380px;}
.user_img{margin-top:-200px; margin-right:10px;}
.mk_loan_btn{width: 107px;margin-top:-80px; margin-right:10px;}
