{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}
  <div class="row">
        <div class="span12">
<h1 class="user_name">{{ user.get_full_name }} ({{ user.username }})</h1>

<div class="balance">Balance: ${{ account.balance }}</div>

<div class="users_loans">
	<h2>My Loans</h2>
	<ul>
		{% for ulc, loan in users_loans %}
		<li class="loan">
			<div class="pull-right user_img pic">
				{% if loan.thumb_path %}
					<a href="{% url 'loans.views.loan_detail' loan.id %}">
						<img src="http://www.theworkingworld.org/{{ loan.thumb_path }}" alt="{{ loan.cooperative }}">
					</a>
				{% endif %}
			</div>
			<div class="desc">
				<a href="{% url 'loans.views.loan_detail' loan.id %}">Project with {{ loan.cooperative }}</a><br>
				{{ loan.short_description }}
			</div>
			<div class="facts">
				<table class=" table table-hover loan_facts">
					<tr><th>Signing date:</th> <td>{{ loan.signing_date }}</td></tr>
					<tr><th>Loan amount:</th> <td>{{ loan.amount_formatted }}</td></tr>
					<tr><th>Country:</th> <td>{{ loan.source_division.country }}</td></tr>
				</table>
			</div>
			<div class="contribution">
				Your contribution: US ${{ ulc.amount }}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

<p><a class="btn btn-primary pull-right mk_loan_btn" href="{% url 'loans.views.loans' %}">Make a New Loan</a></p>
</div> <!-- /.row -->
   </div><!-- /.span 12 -->
{% endblock content %}
