{% extends "base.html" %}
{% load url from future %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h1>

<div id="logout"><a href="{% url 'loans.views.logout_view' %}">Log out</a></div>

{% include "messages.html" %}

<div id="balance">Balance: ${{ account.balance }}</div>

<div class="users_loans">
	<ul>
		{% for ulc, loan in users_loans %}
		<li class="loan">
			<div class="pic">
				{% if loan.thumb_path %}
					<a href="{% url 'loans.views.loan_detail' loan.id %}">
						<img src="http://www.theworkingworld.org/{{ loan.thumb_path }}" alt="{{ loan.cooperative }}">
					</a>
				{% endif %}
			</div>
			<div class="desc">
				<a href="{% url 'loans.views.loan_detail' loan.id %}">Project with {{ loan.cooperative }}</a><br>
				{{ ulc.loan.short_description }}
				{# {{loan.queries}} #}
			</div>
			<div class="facts">
				<table class="loan_facts">
					<tr><th>Signing date:</th> <td>{{ loan.signing_date }}</td></tr>
					<tr><th>Loan amount:</th> <td>{{ loan.amount_formatted }}</td></tr>
					<tr><th>Country:</th> <td>{{ loan.source_division.country }}</td></tr>
				</table>
			</div>
			<div class="contribution">
				Your contribution: US ${{ ulc.amount }}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock content %}
