{% if loans %}
    <ul>
    {% for loan in loans %}
        <li class="loan">
					<div class="pic">
            {# {{ loan.queries }}<br> #}
            {# {{ loan.cid }}<br> #}
            {# {{ loan.image.media_path }}<br> #}
						<img src="http://www.theworkingworld.org/{{ loan.image.media_path }}" alt="{{ loan.cooperative }}">
					</div>
					<div class="desc">
						<a href="/loans/{{ loan.id }}/">Project with {{ loan.cooperative }}</a><br>
						{{ loan.short_description }}
					</div>
					<div class="date">
						{{ loan.signing_date }}
					</div>
				</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No loans found.</p>
{% endif %}