<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}The Working World{% endblock %}</title>
	<script src="{{ settings.PATHS.jquery }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
	<meta name="google-translate-customization" content="c0b8cdd09b021160-0fa5695f8a762b27-g1ce3637364b10764-13"></meta>
	{% block head %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
