<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}The Working World{% endblock %}</title>
	<script src="{{ settings.PATHS.jquery }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
	{% block head %}{% endblock %}
</head>
<body>
<div id="header_group">
  <div id="header_inner_wrap">
 <div id="brand"><img src="img/tww_logo.png" alt="The Working World CoFunder"/></div>
   <div id="nav"><ul class="nav-ui">
 <li class="nav-item"><a class="whatwedo" href="#">What We Do</a></li>
  <li class="nav-item"><a class="where_we_work" href="#">Where We Work</a></li>
 <li class="nav-item"><a class="loan_list" href="#">Find Loans</a></li>
  <li class="nav-item"><a class="btn sign_in" href="#">Sign In</a></li>
 </ul>
     </div> 
  </div>
</div>
	<div class="container">
		{% block content %}{% endblock %}
		
		<!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy;2013 The Working World, United States | <a href="#">Privacy</a> | <a href="#">Terms</a></p>
      </footer>
	</div> <!-- /container -->
</body>
</html>
