{% extends "base.html" %}

{% block content %}

<div><ul>
	<li><a href="loans/">Loan List</a></li>
	<li><a href="accounts/profile/">Profile</a></li>
</ul></div>
 <hr class="featurette-divider">
   <div class="row">
      
        <div class="span7">
          <h2>21<sup>st</sup> Century Job Creation</h2>
          <p>The Working World has coined a development strategy that
creates quality, lasting jobs anchored in local communities. Over
six years of work, we have invested more than $2 million dollars
in job creation with a 95%+ project maturation rate, without ever
creating debt in the neighborhoods we serve. We started in Argentina, where we showed that our methods could work, then
proved that they can be replicated in Nicaragua, and now, with
our latest office in New York, we are out to bring innovative
21st century job creation to the U.S.</p>
<p>Democratic worker control puts into practice the idea that every
contributing member of a business should have a voice in the
decision- making process. Worker-owners, as they are often
called, meet in regularly scheduled assemblies where business
decisions are either made consensually or delegated to smaller
working groups
</p>
          <p><a class="btn" href="#">Lend Now!</a></p>
        </div><!-- /.span7 -->
        <div class="span5">
          <p><iframe src="http://player.vimeo.com/video/54305256?badge=0" class="img-polaroid" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
        </div><!-- /.span5-->      
      </div><!-- /.row -->
            <hr class="featurette-divider">
      <div class="row">
        <div class="span4">
         <p><img src="img/sisepuede.jpg" alt="Si Se Puede Members New Cleaning Products" class="img-polaroid"/></p>
          <p>The Working World has been in touch with Si Se Puede since opening our New York office in Summer 2011.
          We attended several biweekly meetings, introducing our work, getting to know the women, and witnessing firsthand how democratic decision making can nurture a powerful business model.</p>
          <p>In early 2012, several women from the cooperative approached The Working World to discuss the possibility of creating their own green cleaning products.</p>
          <p><a class="btn center_btn" href="#">Lend Now!</a></p>
        </div>
         <div class="span4">
            <p><img src="img/sisepuede.jpg" alt="Si Se Puede Members New Cleaning Products" class="img-polaroid"/></p>
          <p>The Working World has been in touch with Si Se Puede since opening our New York office in Summer 2011.
          We attended several biweekly meetings, introducing our work, getting to know the women, and witnessing firsthand how democratic decision making can nurture a powerful business model.</p>
          <p>In early 2012, several women from the cooperative approached The Working World to discuss the possibility of creating their own green cleaning products.</p>
          <p><a class="btn center_btn" href="#">Lend Now!</a></p>
         </div>
          <div class="span4"><p><img src="img/sisepuede.jpg" alt="Si Se Puede Members New Cleaning Products" class="img-polaroid"/></p>
          <p>The Working World has been in touch with Si Se Puede since opening our New York office in Summer 2011.
          We attended several biweekly meetings, introducing our work, getting to know the women, and witnessing firsthand how democratic decision making can nurture a powerful business model.</p>
          <p>In early 2012, several women from the cooperative approached The Working World to discuss the possibility of creating their own green cleaning products.</p>
          <p><a class="btn center_btn" href="#">Lend Now!</a></p>
          </div> 
      </div><!-- /.row -->
            <hr class="featurette-divider">
{% endblock %}
